/* Variáveis */

:root {
    --cor-texto: #000000;
    --cor-texto-aviso: #ffffff;
    --cor-destaque: #27ae60;
    --cor-button: #22ee77;
    --cor-erro: #d80000f5;
    --fonte: font-family: Arial, Helvetica, sans-serif;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Main */
main {
    margin: 8rem auto;
    max-width: 64rem;
    width: 100%;
}


/* Título */

main h1 {
    color: var(--cor-texto);
    font-family: var(--fonte);
    font-size: 4.8rem;
    font-weight: bold;
}

/* Formulário */

main form {
    margin-top: 4rem;
}

/* Formulário-inputs */

form label {
    display: none;
}

form input,
button {
    display: block;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
    resize: none;
}

/* Formulário-button */

form button {
    background-color: var(--cor-button);
    color: var(--cor-texto-aviso);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor-destaque);
} 

/* Scripts-modificações */

#aviso {
    background-color: var(--cor-erro);
    color: var(--cor-texto-aviso);
    font-family: var(--fonte);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    display: none;
}

#mensagem-erro {
    background-color: var(--cor-erro);
    color: var(--cor-texto-aviso);
    font-family: var(--fonte);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    display: none;
}

.mensagem-sucesso {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-aviso);
    font-family: var(--fonte);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    display: none;
}